/* Your Styles */
tcg-card {
    width: 150px;
}

article {
    display: flex;
    gap: 1em;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    a {
        padding-bottom: 1em;
    }
    button {
        max-width: 240px;
    }
}